:root {
    --light-bg: #FFF;
}

/*
* { box-sizing: border-box;}
*/

.container-lg {
    padding: 0;
}

body {
    background-color: #EEEEEE;
}

.logo {
    height: 105px;
    width: 105px;
    /*margin-top: -10px;*/
}

/*.profile {
    height: 80px;
}*/

.profile {
    background: var(--light-bg);
    height: 80px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-header {
    display: flex;
    justify-content: center;
}

h1, h2, .adminbar {
    font-family: 'Anton', sans-serif;
}

.design {
    font-family: 'Abel', sans-serif;
    margin-top: 25px;
}

#dot p .dotty {
    /*
    margin-right: calc(100% - 20px);
    */
}

#circles .circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 8px solid white;
    padding-top: 30px;
    /*margin-bottom: 10px;*/
}

.circle {
    margin: 5px 0;
}

#btm-sec {
    margin-top: 100px;
}

p {
    text-align: center;
}



.btm .ipad {
    width: 90%;
    display: flex;
    margin: auto;
    border: solid #e2e2e2 10px;
    border-radius: 1%;
}

.btm #macbook {
    width: 90%;
    display: flex;
    margin: auto;
    border: solid #e2e2e2 10px;
    border-radius: 1%;
}

.btm #man {
    width: 90%;
    /*height: 285px;*/
    display: flex;
    margin: auto;
    border: solid #e2e2e2 10px;
    border-radius: 1%;
}

.btm #security {
    width: 90%;
    display: flex;
    margin: auto;
    border: solid #e2e2e2 10px;
    border-radius: 1%;
}

.btm #dot, #laptop-dot, #macbook-dot, #man-dot, #security-dot {
    width: 90%;
    margin: auto;
}

#design {
    background-color: #E6563B;
}

#develop {
    background-color: #EB9D3A;
}

#host {
    background-color: #00ABA9;

}

#support {
    background-color: #7CB06C;
}

/*#dot */.dotty {
    color: black;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: small;
    font-weight: bold;
}


.D1 {
    background-color: #E6563B;
}

.D2 {
    background-color: #EB9D3A;
}

.S {
    background-color: #7CB06C;
}

.H {
    background-color: #00ABA9;
}

.feat-proj {
    font-size: small;
}
